.terrifcard{
    width: 360px;
    height: 534px;
    /* border: 1px solid grey; */

    
}
.cardimg{
    background-image: url('../Images/Dark.png');
    background-repeat: no-repeat;
    height: 230px;
    width: 360px;
    padding-top: 16px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 16px;

    object-fit: cover;
}
.cardtxt{
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.5833333134651184px;
    text-align: left;
    color: #FFFFFF;


}
.cardprice{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 1.5px;
    text-align: left;
    color: #FFFFFF;
}
.textcard{
    padding:10px;
}
.carttxt{
    font-weight: 700;
}
.buybtn{
    width: 100%;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #0764E3;
    text-decoration: none;
    border: none;
    color: white;
    
}
.samerow{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.txt{
    font-weight: 700;
}